{%extends "base.html"%}
{% block titulo %}
	materiales No Disponibles
{% endblock titulo %}
{% block contenido %}
	<h1 align="center">REPORTE DE MATERIALES NO DISPONIBLES   </h1> 

	<h5 style="padding:20px;">reporte de los materiales  no disponibles que hay en bodega con su respectivo
	 tipo de elemento, nombre, cantidad, marca, ficha, estado, cuentadante, codigo sena </h5>

	 <button type="submit" class="btn btn-success" style="margin-left:20px;"><a style="color:#fff; font-size:100%;" href="{% url 'reporte_no_disponible'%}" class="btn btn-block" id="des">descargar reporte</a></button>

{% endblock contenido %}
